html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 1rem 3rem 0px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.title {
  margin-bottom: 2rem;
  height: 2rem;
  background: #a8a8ff;
}

a {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #8055ff;
  text-decoration: none;
}

.search {
  border: 2px solid #a8a8ff;
  box-sizing: border-box;
  height: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.search__item-group {
  display: flex;
}

.search__item-1 {
  background: #8055ff;
  width: 16rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.search__item-2 {
  background: #8055ff;
  width: 2rem;
  height: 2rem;
}

.search__item-3 {
  background: #8055ff;
  width: 2rem;
  height: 2rem;
}

.table {
  display: flex;
  flex-direction: column;
  border: 2px solid #8055ff;
  box-sizing: border-box;
  height: 800px;
}

.table__header {
  height: 3rem;
  background: #8055ff;
  flex: 0 0 auto;
}

.table__body {
  font-size: 2rem;
  background: #a8a8ff;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.table__footer {
  height: 3rem;
  background: #8055ff;
  flex: 0 0 auto;
  position: sticky;
  bottom: 0px;
}
